<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Admin">
        <meta name="author" content="Lukasz Holeczek">
        <meta name="keyword" content="Admin">
        <!-- <link rel="shortcut icon" href="/ico/favicon.png"> -->
        <title>Admin</title>
        <!-- Icons -->
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/style_custom.css" rel="stylesheet">
        
    </head>
    <body class="navbar-fixed sidebar-nav fixed-nav">
        <header class="navbar">
            <div class="container-fluid">
                <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
                <a class="navbar-brand" href="#"></a>
                <ul class="nav navbar-nav hidden-md-down">
                    <li class="nav-item">
                        <a class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav pull-right hidden-md-down">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            
                            <span class="hidden-md-down">ADMIN</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            
                            <div class="dropdown-header text-xs-center">
                                <strong>Settings</strong>
                            </div>
                            <a class="dropdown-item" href="/admin/profile"><i class="fa fa-user"></i> Profile</a>
                            <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>-->
                            <a class="dropdown-item" href="/"><i class="fa fa-lock"></i> Logout</a>
                        </div>
                    </li>
                    <li class="nav-item"></li>
                </ul>
                
            </div>
        </header>
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">
                        管理界面
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category">
                            <i class="fa fa-user"></i> 商品類別 
                        <!--<span class="tag tag-info">NEW</span>-->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">
                            <i class="fa fa-user"></i> 商品資料 
                        <!--<span class="tag tag-info">NEW</span>-->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            <i class="fa fa-user"></i> 使用者 
                        <!--<span class="tag tag-info">NEW</span>-->
                        </a>
                    </li>
                    
                    
                    <li class="divider"></li>
                    <!--<li class="nav-title">-->
                        
                    <!--</li>-->
                    <!--<li class="nav-item nav-dropdown">-->
                    <!--    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>-->
                    <!--    <ul class="nav-dropdown-items">-->
                    <!--        <li class="nav-item">-->
                    <!--            <a class="nav-link" href="pages-login.html" target="_top"><i class="icon-star"></i> Login</a>-->
                    <!--        </li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
