<% include header %>
<!-- Main content -->
<main class="main">
  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">ADMIN</li>
    <!--<li class="breadcrumb-item active">使用者</li>-->

  </ol>
  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong>Welcome</strong>
            </div>
            <div class="card-block">
              <h1>Welcome, Admin</h1>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% include footer %>

