<% include header %>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Welcome，ADMIN </h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h1>Today is : <%= toDay %></h1>
      </div>

    </div>


  </div>
  <!-- /#page-wrapper -->

<% include footer %>
