<% include index_files/header %>

<% include index_files/top %>

<% include index_files/carouse %>



<div class="container">
  <div class="row">


  <% include index_files/content %>


  </div>
</div>


<% include index_files/footer %>
