

    <div class="container">
      <br>
      <hr>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 JenFu Developer <a href="mailto:jenfu.developer@gmail.com">jenfu.developer@gmail.com</a></p>
      </footer>
    </div>
  </body>
</html>
